
        <%= simple_form_for @user do |f| %>
          <%= f.input :name %>
          <%= f.input :profile, as: :check_boxes %>
          <%= f.input :description, as: :text %>
          <%= f.input :home_page, as: :url %>
          <%= f.fields_for :address, @user.address.present? ? @user.address : @user.build_address do |af|%>
            <%= af.input :street %>
            <%= af.input :number %>
            <%= af.input :district %>
            <%= af.input :additional_information%>
          <% end %>


          <select id="countries" name="post[contry_id]">
               <% Country.all.each do |country| %>
               <option value="<%= country.id %>"><%= country.name %></option>
            <% end %>
           </select>


           <select id="states" name="post[state_id]">
             <option value="">select..</option>
           </select>


           <select id="cities" name="user[address_attributes][city_id]">
             <option value="">select..</option>
           </select>

          <%= f.submit %>

          <% end %>
