<section class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">

        <h1>Show user</h1>

        <p>
          <%= User.human_attribute_name(:name) %>: <%= @user.name %>
        </p>

        <p>
          <%= User.human_attribute_name(:email) %>: <%= @user.email %>
        </p>

        <p>
          <%= User.human_attribute_name(:profile) %>: <%= @user.profile.texts.join(", ") %>
        </p>

        <p>
          <%= User.human_attribute_name(:description) %>: <%= @user.description %>
        </p>

        <p>
          <%= User.human_attribute_name(:home_page) %>: <%= @user.home_page %>
        </p>

        <p>
          <%= link_to "Edit", edit_user_path(@user) %>
        </p>

      </div>
    </div>
  </div>
</section>
