<section class="container-fluid shortlist">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        
        <h1>My Shortlist</h1>

        <ul class="listing-investitor-group">
          <% @shortlists.each do |shortlist| %>
          <li>
            <div class="investitor-avatar"></div>
            <div class="investitor-info">
              <h2><%= shortlist.investitor.name %></h2>
              <p><%= shortlist.investitor.email %></p>
              <p><%= shortlist.investitor.description %></p>
            </div>
            <div class="investitor-btn">
              <%= link_to "Remove from Shortlist", shortlist, method: :delete %>
            </div>
          </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</section>
