
<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>

  <%= button_tag "Add Participant", id: "add_participant", type: :button, data: { :"url-investitors" => investitors_path(format: :json) } %>

  <div id="participants">
    <%= f.simple_fields_for :participants, (@project.participants.present? ? @project.participants : @project.participants.build) do |pf| %>
      <div class="participant_fields">
        <%= pf.hidden_field :id %>
        <%= pf.hidden_field :_destroy, class: "destroy_field" %>
        <%= pf.input :investitor_id, collection: Investitor.all %>
        <%= pf.input :amount_invested, as: :string %>
        <%= pf.input :rating %>
      </div>
    <% end %>
  </div>

  <%= f.submit id: "submit_project" %>
<% end %>
