<section class="container-fluid projects">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">

        <h1>My Projects</h1>

        <%= link_to "New Project", new_project_path %>

        <ul class="projects-group">
          <% @projects.each do |project| %>
          <li>
            <div class="projects-avatar"></div>
            <div class="projects-info">
              <h2><%= project.name %></h2>
              <p><%= project.description %></p>
              <p><%= project.created_at %></p>
            </div>
            <div class="projects-btn">
              <%= link_to "Show", project %>
              <%= link_to "Edit", edit_project_path(project) %>
              <%= link_to "Delete", project, method: :delete %>
            </div>
          </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</section>
