<section class="container-fluid projects">
  <div class="wrapper-small">
    <div class="row">
      <div class="col-xs-12">

        <h1>New Project</h1>

        <%= render "form" %>

      </div>
    </div>
  </div>
</section>
