<section class="container-fluid projects">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">

        <h1>Show Project</h1>


        <ul class="projects-group">
          <li>
            <div class="projects-avatar"></div>
            <div class="projects-info">
              <h2><%= @project.name %></h2>
              <p><%= @project.description %></p>
            </div>
            <div class="projects-btn">
              <%= link_to "Edit", edit_project_path(@project) %>
            </div>
          </li>
        </ul>


      </div>
    </div>
  </div>
</section>
