.banner-home{
  width: 100%;
  height: 230px;
  background-color: $blueColor;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  h1{
    font-size: 1.6em;
    font-family: $font-italic;
    color: #fff;
    margin-bottom: 10px;
  }
  p{
    color:#fff;
    font-size: 1.2em;
    font-family: $font-regular;
  }
}

.margin-header{
  height: 50px;
}
