$blueColor: #4c80f7;
$greyColor: #d3d5dc;
$greyDarkColor: #b2b2b2;

body{
  font-family: $font-regular;
  font-size: 1em;
  color: $greyDarkColor;
}

a{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}

h1, h2, h3, h4, h5{
  font-family: $font-italic;
  font-size: 1.6em;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

.wrapper-small{
  width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width:960px){
  .wrapper, .wrapper-small{
    width: 100%;
  }
}

input, select, textarea{
  width: 100%;
  padding: 10px 20px;
  border: 2px solid $greyDarkColor;
  border-radius: 5px;
  font-family: $font-regular;
  font-size: 1em;
  outline: none;
  transition: all ease-in-out 100ms;
  &:focus{
    border: 2px solid $blueColor;
  }
}

input[type="submit"]{
  background-color: $blueColor;
  border: 0;
  color:#fff;
  transition: all ease-in-out 100ms;
  &:hover{
    cursor: pointer;
    background-color: lighten($blueColor, 10);
  }
}

button{
  background-color: $blueColor;
  padding: 10px;
  border:0;
  color:#fff;
  font-family: $font-regular;
  border-radius: 5px;
  transition: all ease-in-out 100ms;
  &:hover{
    cursor: pointer;
    background-color: lighten($blueColor, 10);
  }
}

select{
  margin: 10px 0;
}

.mensage-erro{
  width: 100%;
  padding: 20px;
  border: 2px solid red;
  background-color: lighten(red, 20);
  color: #fff;
  font-size: 1em;
  font-family: $font-regular;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
}

.mensage-success{
  width: 100%;
  padding: 20px;
  border: 2px solid green;
  background-color: lighten(green, 20);
  color: #fff;
  font-size: 1em;
  font-family: $font-regular;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
}

table{
  width: 960px;
  margin: 0 auto;
  tbody{
    width: 100%;
    border: 1px solid $blueColor;
    tr{
      border: 1px solid $blueColor;
      &:hover{
        background-color: lighten($greyColor, 8);
      }
      th{
        padding: 10px;
        border: 1px solid $blueColor;
      }
    }
  }
}

@media screen and (max-width:960px){
  table{
    width:100%;
  }
}
