header{
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    p, a{
      margin: 0 15px;
      border: 1px solid $greyColor;
      padding: 8px;
      border-radius: 5px;
      font-size: .8em;
      transition: all ease-in-out 100ms;
      &:hover{
        cursor: pointer;
        background-color: $blueColor;
        border: 1px solid $blueColor;
        color: #fff;
      }
    }
  }
  .header-search{
    input{
      width: 280px;
      border-radius: 100px 0 0 100px;
      border: 1px solid $blueColor;
      padding: 10px;
      outline: none;
      font-family: $font-regular;
      font-size: .7em;
    }
    button{
      height: 37px;
      padding: 10px;
      border-radius: 0 100px 100px 0;
      background-color: $blueColor;
      border: 0;
      outline: none;
      color: #fff;
      transform: translate(-10px, 0);
      &:hover{
        cursor:pointer;
        background-color: lighten($blueColor, 10);
      }
    }
  }
}

.header-logo{
  height: 45px;
  width: 220px;
  background-color: $blueColor;
  border-radius: 100px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 30px;
  }
  h3{
    color: #fff;
    font-family: $font-italic;
    font-size: 1.3em;
    margin: 0;
  }
}

p{
  font-family: $font-regular;
}

.header-menu{
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border-top: 1px solid $greyColor;
  color: $blueColor;
  ul{
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    li{
      border: 1px solid $blueColor;
      border-radius: 5px;
      padding: 5px;
      font-size: .8em;
      margin: 0 20px;
      &:hover{
        background-color: $blueColor;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width:780px){
  .header-flex .header-search, .header-flex .header-search input{
    width: 70%;
  }
  .header-logo{
    width: 180px;
  }
  .header-flex div:last-child {
    display: none;
  }
}
