.listing-investitor{
  margin: 70px 0;
}

.listing-investitor-group{
  width: 100%;
  padding: 10px;
  li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    border: 1px solid $greyColor;
    padding: 10px;
    border-radius: 5px;
    transition: all ease-in-out 100ms;
    h2{
      font-family: $font-regular;
      font-size: 2em;
    }
    &:hover{
      border-color: $blueColor;
    }
  }
}

.investitor-avatar{
  width: 100px;
  height: 100px;
  background-color: $greyColor;
  padding: 10px;
  margin-right: 20px;
}

.investitor-info{
  padding: 10px;
  width: 80%;
}

.investitor-btn{

}

@media screen and (max-width:800px){
  .listing-investitor-group li {
    flex-direction: column;
  }
}
