.login-user{
  .field{
    margin-bottom: 20px;
    label{
      font-family: $font-regular;
    }
    input{
      width: 100%;
      padding: 15px;
    }
  }
}

form.new_user{
  width: 400px;
  padding: 40px;
  border: 1px solid $greyColor;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
}

.form-inputs{
  margin: 0 auto;
  div{
    margin-bottom: 20px;
    label{
      font-size: .8em;
    }
    input{
      margin-top: 5px;
    }
    label>input[type="checkbox"]{
      width: auto;
      margin-right: 5px;
    }
  }
}
.form-actions{
  margin: 0 auto;
  width: 100%;
  input[type="submit"]{
    background-color: $blueColor;
    border: 2px solid $blueColor;
    color: #fff;
    font-size: 1em;
    font-family: $font-regular;
    &:hover{
      cursor: pointer;
      background-color: lighten($blueColor, 5);
    }
  }
}
.form-links{
  width: 400px;
  margin: 0 auto;
  font-size: .8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  a:first-child{
    padding: 10px;
    border: 1px solid $greyColor;
    border-radius: 5px;
    transition: all ease-in-out 100ms;
    &:hover{
      background-color: $blueColor;
      border: 1px solid $blueColor;
      color: #fff;
    }
  }
  a:last-child{
    text-align: right;
    width: 100%;
    float: right;
  }
}
