@charset "utf-8";

@font-face{
  font-family: "opensans-italic";
  src: url("fonts/OpenSans-SemiboldItalic.ttf");
}

@font-face{
  font-family: "opensans-regular";
  src: url("fonts/OpenSans-Regular.ttf");
}

$font-italic: 'opensans-italic', Helvetica, Arial, sans-serif;
$font-regular: 'opensans-regular', Helvetica, Arial, sans-serif;

@import
  "reset",
  "flexboxgrid",
  "base",
  "login-user",
  "header",
  "banner",
  "tag-search",
  "quick-search",
  "select-areas-industries",
  "listing-investitor",
  "edit-profile",
  "edit-user",
  "projects",
  "shortlist",
  "footer"
;
