.quick-search{
  padding: 70px 0;
  background-color: $greyColor;
  >div.wrapper-quick-search{
    width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    ul{
      display: flex;
      justify-content: space-between;
      width: 600px;
      li{
        padding: 10px;
        background-color: $blueColor;
        color: #fff;
        border-radius: 5px;
        transition: all ease-in-out 100ms;
        &:hover{
          background-color: lighten($blueColor, 10);
        }
      }
    }
  }
}

@media screen and (max-width:760px){
  .quick-search>div.wrapper-quick-search{
    width: 100%;
    flex-direction: column;
    ul{
      width: 100%;
      flex-direction: column;
      margin-top: 20px;
      li{
        margin: 5px;
        text-align: center;
      }
    }
  }
}
