.select-areas, .select-industries{
  padding: 70px 0;
  >div{
    .areas, .industries{
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      >div{
        margin: 0 auto;
        p{
          text-align: center;
          margin-top: 10px;
        }
        >div{
          background-color: $greyColor;
          height: 200px;
          width: 150px;
          border: 4px solid $greyColor;
          transition: all ease-in-out 100ms;
          &:hover{
            border: 4px solid $blueColor;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width:760px){
  .select-areas > div .areas,
  .select-industries > div .industries{
    flex-direction: column;
  }
  .select-areas h2,
  .select-industries h2{
    text-align: center;
  }
  .select-areas > div .areas >div p,
  .select-industries > div .industries >div p{
    margin-bottom: 20px;
  }
}
