section.search-tag {
  width: 100%;
  form{
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    width: 600px;
    padding: 10px;
    border: 2px solid $blueColor;
    border-radius: 100px 0 0 100px;
    font-family: $font-regular;
    font-size: 1em;
    outline: none;
  }
  button{
    background-color: $blueColor;
    border: 0;
    height: 46px;
    padding: 16px;
    border-radius: 0 100px 100px 0;
    color: #fff;
    margin-left: 5px;
    outline: none;
    transform: translate(-7px, 0);
    transition: all ease-in-out 100ms;
    &:hover{
      cursor: pointer;
      background-color: lighten($blueColor, 10);
    }
  }
}


@media screen and (max-width:960px){
  section.search-tag form input{
    width: 100%;
  }
}
