<section class="container-fluid listing-investitor">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">

        <h2>Listing Investitor</h2>

        <ul class="listing-investitor-group">
          <% @investitor.each do |investitor| %>
          <li>
            <div class="investitor-avatar"></div>
            <div class="investitor-info">
              <h2><%= investitor.name %></h2>
              <p><%= investitor.email %></p>
              <p><%= investitor.description %></p>
            </div>
            <div class="investitor-btn">
              <%= add_to_shortlist_button(investitor) %>
            </div>
          </li>
          <% end %>
        </ul>


      </div>
    </div>
  </div>
</section>
