<div class="margin-header"></div>
<div class="container-fluid banner-home">
  <div>
    <h1>Raise money on your terms.</h1>
    <p>Search for investors and read reviewa from founders about their investors</p>
  </div>
</div>
