<header>
  <nav class="wrapper header-flex">
    <div class="header-logo"> <%= image_tag "svg/magnifying-glass.svg" %> <h3>Glassdollar</h3></div>
    <form class="header-search" action="index.html" method="post">
      <input type="text" name="search" placeholder="Search Investors">
      <button type="button" name="button" >Search</button>
    </form>
    <div>
      <%= link_to "My Profile", edit_user_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </nav>

  <% if current_user.profile.founder? %>

    <div class="header-menu">
      <ul>
        <li><%= link_to "Investitors", investitors_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Shortlist", shortlists_path %></li>
      </ul>
    </div>

  <% end %>

</header>
