<section class="quick-search">
  <div class="wrapper-quick-search">
    <h2>Quick Search</h2>

    <ul>
      <li>
        <a href="#">Best</a>
      </li>
      <li>
        <a href="#">Trending</a>
      </li>
      <li>
        <a href="#">Trust in founder decisions</a>
      </li>
      <li>
        <a href="#">Seed</a>
      </li>
      <li>
        <a href="#">Angels</a>
      </li>
    </ul>

  </div>
</section>
