<section class="select-areas">
  <div class="wrapper">
    <h2>Select Areas</h2>
    <div class="areas">
      <div>
        <div></div>
        <p>Berlin</p>
      </div>

      <div>
        <div></div>
        <p>Berlin</p>
      </div>

      <div>
        <div></div>
        <p>Berlin</p>
      </div>

      <div>
        <div></div>
        <p>Berlin</p>
      </div>

      <div>
        <div></div>
        <p>Berlin</p>
      </div>
    </div>
  </div>
</section>
