<section class="select-industries">
  <div class="wrapper">
    <h2>Select Industries</h2>
    <div class="industries">
      <div>
        <div></div>
        <p>Adtech</p>
      </div>

      <div>
        <div></div>
        <p>Adtech</p>
      </div>

      <div>
        <div></div>
        <p>Adtech</p>
      </div>

      <div>
        <div></div>
        <p>Adtech</p>
      </div>

      <div>
        <div></div>
        <p>Adtech</p>
      </div>
    </div>
  </div>
</section>
