<!DOCTYPE html>
<html>
  <head>
    <title>GlassDollar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/banner' %>
    <%= yield %>
    <%= render 'layouts/tag-search' %>
    <%= render 'layouts/quick-search' %>
    <%= render 'layouts/select-areas' %>
    <%= render 'layouts/select-industries' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
